{% extends "base.html" %}
{% block code_submit %}
<div class="main ">
    <div class="row">
        <div class="col-lg-12">
            <h3 class="page-header"><i class="fa fa-indent"></i>Form elements</h3>
            <ol class="breadcrumb">
                <li><i class="fa fa-home"></i><a href="index.html">Home</a></li>
                <li><i class="fa fa-list-alt"></i><a href="#">Forms</a></li>
                <li><i class="fa fa-indent"></i>Form elements</li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2><i class="fa fa-indent red"></i><strong>Basic Form Elements</strong></h2>
                </div>
                <div class="panel-body">
                    <form method="post" class="form-horizontal">
                        {{ form.hidden_tag() }}
                        <div class="form-group">
                            <label class="col-md-3 control-label" for="text-input">Task</label>
                            <div class="col-md-9">
                                <input type="text" id="text-input" name="task" class="form-control" placeholder="Text">
                                <span class="help-block">This is a help text</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label" for="selectError2">Project</label>
                            <div class="col-md-9">
                                <select class="form-control" data-placeholder="Your Favorite Football Team" id="selectError2" name="project" data-rel="chosen">
                                    <option value=""></option>
                                    <optgroup label="NFC EAST">
                                        <option>Dallas Cowboys</option>
                                        <option>New York Giants</option>
                                        <option>Philadelphia Eagles</option>
                                        <option>Washington Redskins</option>
                                    </optgroup>
                                    <optgroup label="NFC NORTH">
                                        <option>Chicago Bears</option>
                                        <option>Detroit Lions</option>
                                        <option>Green Bay Packers</option>
                                        <option>Minnesota Vikings</option>
                                    </optgroup>
                                    <optgroup label="AFC EAST">
                                        <option>Buffalo Bills</option>
                                        <option>Miami Dolphins</option>
                                        <option>New England Patriots</option>
                                        <option>New York Jets</option>
                                    </optgroup>
                                    <optgroup label="AFC NORTH">
                                        <option>Baltimore Ravens</option>
                                        <option>Cincinnati Bengals</option>
                                        <option>Cleveland Browns</option>
                                        <option>Pittsburgh Steelers</option>
                                    </optgroup>
                                </select>
                                <span class="help-block">This is a help text</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label" for="select">Code Server</label>
                            <div class="col-md-9">
                                <select id="select" name="code_server" class="form-control" size="1">
                                    <option value="0">Please select</option>
                                    <option value="1">Option #1</option>
                                    <option value="2">Option #2</option>
                                    <option value="3">Option #3</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label" for="textarea-input">Code Lists</label>
                            <div class="col-md-9">
                                <textarea id="textarea-input" name="code_list" rows="9" class="form-control" placeholder="Content.."></textarea>
                            </div>
                        </div>
                        <br>
                        <button type="submit" class="btn btn-sm btn-success pull-right" name="Submit"><i class="fa fa-dot-circle-o"></i>Submit</button>
                        <button type="reset" class="btn btn-sm btn-danger pull-right"><i class="fa fa-ban"></i>Reset</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div><!-- end: main -->
{#    <script type="text/javascript">#}
{#        window.jQuery || document.write("<script src='/static/js/jquery-2.1.1.min.js'>"+"<"+"/script>");#}
{#    </script>#}
{% endblock %}