<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>proto_publish</title>
</head>
<body>
    <form action="" method="post" enctype="multipart/form-data" >
        <div class="form-group">
            <label class="col-md-3 control-label" for="text-input">Task</label>
            <div class="col-md-9">
                <input type="text" id="text-input" name="text-input" class="form-control" placeholder="Text">
                <span class="help-block">This is a help text</span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-3 control-label" for="selectError2">Project</label>
            <div class="col-md-9">
                <select class="form-control" data-placeholder="Your Favorite Football Team" id="selectError2" data-rel="chosen">
                    <option value=""></option>
                    <optgroup label="NFC EAST">
                      <option>Dallas Cowboys</option>
                      <option>New York Giants</option>
                      <option>Philadelphia Eagles</option>
                      <option>Washington Redskins</option>
                    </optgroup>
                    <optgroup label="NFC NORTH">
                      <option>Chicago Bears</option>
                      <option>Detroit Lions</option>
                      <option>Green Bay Packers</option>
                      <option>Minnesota Vikings</option>
                    </optgroup>
                    <optgroup label="AFC EAST">
                      <option>Buffalo Bills</option>
                      <option>Miami Dolphins</option>
                      <option>New England Patriots</option>
                      <option>New York Jets</option>
                    </optgroup>
                    <optgroup label="AFC NORTH">
                      <option>Baltimore Ravens</option>
                      <option>Cincinnati Bengals</option>
                      <option>Cleveland Browns</option>
                      <option>Pittsburgh Steelers</option>
                    </optgroup>
                </select>
                <span class="help-block">This is a help text</span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-3 control-label" for="email-input">Notification</label>
            <div class="col-md-9">
                <input type="email" id="email-input" name="email-input" class="form-control" placeholder="Email address">
                <span class="help-block">Please enter your email</span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-3 control-label" for="select">Code Server</label>
            <div class="col-md-9">
                <select id="select" name="select" class="form-control" size="1">
                    <option value="0">Please select</option>
                    <option value="1">Option #1</option>
                    <option value="2">Option #2</option>
                    <option value="3">Option #3</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-3 control-label" for="textarea-input">Code Lists</label>
            <div class="col-md-9">
                <textarea id="textarea-input" name="textarea-input" rows="9" class="form-control" placeholder="Content.."></textarea>
            </div>
        </div>
        <br>
    </form>
        <div>
        <button type="submit" >Submit</button>
        <button type="reset" >Reset</button>
        </div>
</body>
</html>