<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>proto_table</title>
</head>
<body>
    <table border="1">
        <thead>
            <tr>
                <th>Task_id</th>
                <th>Project</th>
                <th>Task</th>
                <th>User</th>
                <th>Code Server</th>
                <th>Code Lists</th>
                <th>Online Time</th>
                <th>Status</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Willson</td>
                <td>Developer</td>
                <td>2563$</td>
                <td>niu</td>
                <td>server1</td>
                <td>/www/test.html</td>
                <td>2017-04-04 18:53:26</td>
                <td>
                    <span>Active</span>
                </td>
                <td>
                    <a>online</a>
                    <a>rollback</a>
                </td>
            </tr>
            <tr>
                <td>James</td>
                <td>SEO</td>
                <td>5000$</td>
                <td>niu</td>
                <td>server1</td>
                <td>/www/test.html</td>
                <td>2017-04-04 18:53:26</td>
                <td>
                    <span>Banned</span>
                </td>
                <td>
                    <a>online</a>
                    <a>rollback</a>
                </td>
            </tr>
            <tr>
                <td>Steven</td>
                <td>Photographer</td>
                <td>1269$</td>
                <td>niu</td>
                <td>server1</td>
                <td>/www/test.html</td>
                <td>2017-04-04 18:53:26</td>
                <td>
                    <span>Inactive</span>
                </td>
                <td>
                    <a>online</a>
                    <a>rollback</a>
                </td>
            </tr>
            <tr>
                <td>Aselay</td>
                <td>Project manger</td>
                <td>6253$</td>
                <td>niu</td>
                <td>server1</td>
                <td>/www/test.html</td>
                <td>2017-04-04 18:53:26</td>
                <td>
                    <span>Pending</span>
                </td>
                <td>
                    <a>online</a>
                    <a>rollback</a>
                </td>
            </tr>
        </tbody>
    </table>
</body>
</html>